$p:'Poppins',
sans-serif;
$e:'Encode Sans Condensed',
sans-serif;
body {
    font-family: $p;
    color: #444444;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

p {
    margin: 0;
}

section {
    position: relative;
}

.div-center {
    float: none;
    margin: 0 auto;
}

.section-order {
    position: absolute;
    bottom: 60px;
    left: 40px;
    p {

        font-size: 30px;
        display: flex;
        align-items: center;
        svg {
            margin: 0 8px;
        }
        span {
            font-size: 20px;
            font-weight: 300;
            opacity: .5;
        }
    }
}

.section-title {
    color: #444444;
    padding-bottom: 100px;
    h2 {
        margin: 0;
        font-size: 50px;
        margin-bottom: 8px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
    }
}

/*========================== Slider =====================*/

.slider {
    .item {
        background: url(../images/slider.jpg) no-repeat center;
        background-size: cover;
        color: #fff;
        .container {
            min-height: 980px;
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
        }
        h2 {
            margin: 0;
            font-size: 90px;
            font-weight: 700;
        }
        p {
            font-size: 18px;
            font-weight: 700;
            font-family: $e;
        }
        i {
            font-size: 25px;
            margin-top: 65px;
        }
    }
    .social-slider {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 50%;
        right: 35px;
        margin-top: -(159px/2);
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 20px;
                color: #fff;
            }
        }
    }
}

/*========================== service =====================*/

.service {
    padding-top: 140px;
    padding-bottom: 280px;
    .item {
        padding: 45px 0;
        i {
            font-size: 30px;
            color: #c51a08;
            display: block;
            margin-bottom: 15px;
        }
        .title {
            font-size: 20px;
            font-weight: 600;
            color: #444444;
            display: inline-block;
        }
        p {
            font-size: 14px;
            line-height: (22/14);
            margin-top: 10px;
        }
    }
    .item-small-wraper {
        padding-top: 85px;
    }
    .item-small {
        padding: 15px 0;
        .title {
            color: #444444;
            font-size: 16px;
            i {
                font-size: 20px;
                color: #c51a08;
                margin-right: 15px;
            }
        }
    }
}

/*========================== counter-up =====================*/

.counter-up {
    background: url(../images/counter-up.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding: (120px-15);
    .item {
        padding: 15px 0;
        h3 {
            margin: 0;
            font-size: 30px;
            font-weight: 600;
            line-height: (42/30);
            margin-bottom: 5px;
        }
        p {
            font-size: 16px;
        }
    }
}

/*========================== skill =====================*/

.skill {
    padding-bottom: 100px;
    padding-top: (150px-30);
    min-height: 1150px;
    .nav-tabs {
        border-bottom: 2px solid #e8e8e8;
        li {
            width: 50%;
            text-align: center;
            a {
                border: none !important;
                color: #444444;
                font-size: 24px;
                letter-spacing: (50em/1000);
                padding: 20px 15px;
                &:hover {
                    background: none;
                }
            }
        }
        li.active {
            a {
                border-bottom: 6px solid #a90e06 !important;
                font-weight: 700;
            }
        }
    }
    .tab-content {
        .head {
            padding-top: 85px;
            padding-bottom: 50px;
            h2 {
                margin: 0;
                font-weight: 700;
                font-size: 50px;
                margin-bottom: 5px;
            }
            p {
                font-size: 18px;
            }
        }
        .pie_progress {
            padding: 15px 0;
            .pie_progress__svg svg {
                transform: rotate(90deg)
            }
        }
        .pie_progress__label {
            margin-top: 0;
            font-size: 14px;
            color: #7d7d7d;
            font-family: $e;
            font-weight: 700;
            text-transform: uppercase;
        }
        .text {
            padding-left: (70px-15);
            padding-top: 50px;
            p {
                font-size: 14px;
                line-height: (24/14);
            }
            h4 {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                margin: 30px 0;
            }
        }
    }
}

/*========================== banner =====================*/

.banner {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 90px;
    p {
        font-size: 16px;
    }
    h2 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 25px;
    }
    a.btn {
        border-radius: 50px;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        background: #c51a08;
        padding: 11px 38px;
    }
}

/*========================== banner-small =====================*/

.banner-small {
    padding: 100px 0;
    p {
        font-size: 14px;
    }
    h2 {
        font-family: $e;
        margin-bottom: 0;
    }
}

/*========================== review =====================*/

.review {
    background: url(../images/review.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 270px;
    min-height: 984px;
    .section-title {
        color: #fff;
    }
    .content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .img {
        float: left;
        img {
            height: 166px;
            width: 166px;
            border-radius: 50%;
        }
    }
    .text {
        float: left;
        width: calc(100% - 166px);
        padding-left: 25px;
        p {
            font-size: 14px;
            line-height: (22/14);
        }
        h4 {
            margin: 15px 0;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .carousel-indicators {
        position: static;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 190px;
        text-align: center;
        li {
            margin: 0 3px;
            height: 10px;
            width: 10px;
            background: #fff;
            border: none;
        }
        li.active {
            background: #c51a08;
        }
    }
}

/*========================== contact =====================*/

.contact {

    .content {
        padding-left: 65px;
        padding-top: 150px;
        padding-bottom: 180px;
        box-shadow: -17px 0 5px -10px rgba(0, 0, 0, 0.08);
        z-index: 2;
        position: relative;
        background: #fff;
    }
    .address {
        .col-md-4 {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        i {
            font-size: 20px;
            color: #c51a08;
            margin-bottom: 15px;
        }
        p,
        a {
            font-size: 14px;
            font-weight: 500;
            color: #444444;
        }
    }
    .contact-form {
        margin-top: (70px-15);
        input,
        textarea {
            width: 100%;
            border: none;
            background: none;
            box-shadow: 0 2px 12px 4px rgba(0, 0, 0, .15);
            border-radius: 5px;
            height: 50px;
            margin-bottom: 30px;
            padding: 15px 25px;
            font-size: 14px;
            font-weight: 600;
            font-family: $e;
            color: #999999;
        }
        textarea {
            height: 200px;
        }
        button {
            background: #c51a08;
            border: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            border-radius: 50px;
            padding: 10px 56px;
            margin-top: 30px;
        }
    }
    .map {
        background: url(../images/map.jpg) no-repeat left top;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        top: 0;
    }
    .section-order {
        background: #fff;
        left: 0;
        bottom: 0;
        text-align: center;
        p {
            justify-content: center;
            height: 170px;
            width: 170px;
        }
    }
}
/*========================== main-footer =====================*/
.main-footer{
    padding: 80px 45px;
    .footer-menu{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 10px 0;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            a{
                text-transform: uppercase;
                font-family: $e;
                font-weight: 600;
                font-size: 14px;
                color: #444444;
                &:hover{
                    color: #006c76;
                }
            }
        }
    }
    .copy{
        margin: 10px 0;
        font-size: 14px;
        font-family: $e;
        text-align: right;
    }
}
